rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function conversationPath(conversationId) {
      return /databases/(default)/documents/conversations/$(conversationId);
    }

    function authInConversation(conversationId) {
      return request.auth != null
        && exists(conversationPath(conversationId))
        && get(conversationPath(conversationId)).data.participantUids.hasAny([request.auth.uid]);
    }

    match /conversations/{conversationId}/{messageId}/{fileName} {
      allow read, write: if authInConversation(conversationId);
    }

    match /{allPaths=**} {
      allow read, write: if false; // TODO: abrir rutas adicionales cuando existan.
    }
  }
}
